#home {
	background-image: url("../images/bamboo-small.jpg");
	color: white;	
}

#about {
	background-image: url("../images/coffee-small.jpg");
	color: white;
}

#portfolio {
	background-image: url("../images/road-small.jpg");
	color: white;
}

#contact {
	background-image: url("../images/flatiron-small.jpg");
	color: white;
}


.background-pic {
	padding-top: 10em;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	text-align: center;
}

.jumbotron {
	margin: 0;
}

li {
	display: inline;
	list-style: none;
	margin: 0 0.5em 0 0.5em;
}

.fa {
	margin-right: 1em;
}