#about {
	background-image: url("../images/bamboo-small.jpg");
	color: white;
}

#contact {
	background-image: url("../images/road-small.jpg");
	color: white;
}

.background-pic {
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	padding: 15em 30em 30em;
	text-align: center;
}

.jumbotron {
	margin: 0;
}

#about li {
	display: inline;
	list-style: none;
}